<header>
    <holition-file-explorer-breadcrumb [items]="items"></holition-file-explorer-breadcrumb>
</header>

<section class="main-wrapper">
    <holition-file-explorer-list *ngIf="fileHierarchy" [items]="items"></holition-file-explorer-list>
</section>