<ul class="nav-breadcrumbs">
    <li class="nav">
        <ul class="nav-breadcrumbs">
            <li class="nav">
                <a [routerLink]="rootPath" [href]="rootPath">
                    <nav class="nav-item">
                        <h2>My Drive </h2>
                        <svg viewBox="0 0 20 20">
                            <polygon points="5,8 10,13 15,8"></polygon>
                        </svg>
                    </nav>
                </a>
            </li>
            <li class="nav" *ngFor="let breadcrumbLink of breadcrumbLinks">
                <nav class="breadcrumb">
                    <svg>
                        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                    </svg>
                </nav>
                <a [routerLink]="breadcrumbLink.path" [href]="breadcrumbLink.path">
                    <nav class="nav-item">  
                        <h2>{{breadcrumbLink.name}}</h2>
                        <svg viewBox="0 0 20 20">
                            <polygon points="5,8 10,13 15,8"></polygon>
                        </svg>
                    </nav>
                </a>
            </li>
        </ul>
    </li>
</ul>