.nav-breadcrumbs {
    display: inline-flex;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    .nav {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      .breadcrumb {
        display: flex;
        svg {
          width: 24px;
          height: 24px;
          fill: #000000;
        }
      }
      .nav-breadcrumbs {
        .nav {
          &:last-of-type {
            .nav-item {
              svg {
                width: 20px;
                height: 20px;
                fill: #000000;
                display: block;
                padding-left: 5px;
              }
            }
          }
        }
      }
    } 
    .nav-breadcrumbs{
      margin-left: 0;
    }
    a {
      text-decoration: none;
      color: #000000;
      .nav-item {
        display: flex;
        align-items: center;
        padding: 4px 8px 4px;
        -webkit-transition: all 300ms;
        transition: all 300ms;
        cursor: pointer;
        svg {
          display: none;
        }
        &:hover {
          background-color: #f1f3f4;
          border-radius: 6px;
        }
        h2 {
          font-weight: 400;
          margin: 0;
        }
      }
    }
  }   