<main>
    <section class="loader-wrapper" [ngClass]="{'hide': showOverlay === false}">
        <div class="loader"></div>
    </section>
    <section class="grid-view">
        <section>
            <h4 *ngIf="folders.length > 0" class="section-title">Folders</h4>
            <section class="folder-items">
                <ng-template ngFor let-item [ngForOf]="folders">
                    <article>
                        <figure class="stream-figure">
                            <a [routerLink]="item.name" [href]="item.path">
                                <figcaption [title]="getFileName(item.name)">
                                    <ul class="file-info" >
                                        <li class="file-type">
                                            <svg x="0px" y="0px" focusable="false" viewBox="0 0 24 24"><g><path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"></path><path d="M0 0h24v24H0z" fill="none"></path></g></svg>
                                        </li>
                                        <li class="file-name">{{item.name}}</li>
                                    </ul>
                                </figcaption>
                            </a>
                        </figure>
                    </article>
                </ng-template>
            </section>
        </section>
        <section>
            <h4 *ngIf="files.length > 0" class="section-title">Files</h4>
            <section class="file-items">
                <ng-template ngFor let-item [ngForOf]="files">
                    <article>
                        <figure>
                            <div class="image-container">
                                <img *ngIf="getFileType(item.name) === 'png'" [src]="foldersPath + item.path" class="image" />
                                <img *ngIf="getFileType(item.name) === 'jpg'" [src]="foldersPath + item.path" class="image" />
                                <iframe *ngIf="getFileType(item.name) === 'txt'" [src]="iframeSecureURL(foldersPath + item.path)" frameborder="0"></iframe>
                                <img *ngIf="getFileType(item.name) === 'zip'" [src]="getFileTypeImage(item.path)" class="non-image" />
                            </div>
                            <figcaption [title]="getFileName(item.name)">
                                <ul class="file-info" >
                                    <li class="file-type">
                                        <img [src]="getFileTypeImage(item.path)" />
                                    </li>
                                    <li class="file-name">{{item.name}}</li>
                                </ul>
                                <div class="file-size">{{convertFileSize(item.size)}}</div>
                            </figcaption>
                        </figure>
                    </article>
                </ng-template>
            </section>
        </section>
    </section>
    <section class="table-view">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>File size</th>
                </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-item [ngForOf]="items">
                    <tr *ngIf="item.type === 'folder'" [routerLink]="item.name" class="folder-row">
                        <td>
                            <svg class="image" x="0px" y="0px" focusable="false" viewBox="0 0 24 24">
                                <g>
                                    <path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"></path>
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                </g>
                            </svg>
                            <strong>{{item.name}}</strong>
                        </td>
                        <td>{{item.type}}</td>
                        <td> - </td>
                    </tr>
                </ng-template>
                <ng-template ngFor let-item [ngForOf]="items">
                    <tr *ngIf="item.type === 'file'">
                        <td>
                            <img *ngIf="getFileType(item.name) === 'png' || 
                                        getFileType(item.name) === 'jpg'
                                        "
                                [src]="foldersPath + item.path" class="image" />
                            <img *ngIf="getFileType(item.name) === 'zip' || 
                                        getFileType(item.name) === 'txt'
                                        "
                                [src]="getFileTypeImage(item.path)" class="image" />
                            <strong>{{item.name}}</strong>
                        </td>
                        <td>{{item.type}}</td>
                        <td>{{convertFileSize(item.size)}}</td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </section>
</main>