.loader-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgb(255 255 255);
  display: flex;
  justify-content: center;
  align-items: center;
  &.hide {
    -webkit-animation: fadeOut 1000ms ease-in;
    -moz-animation: fadeOut 1000ms ease-in;
    -o-animation: fadeOut 1000ms ease-in;
    animation: fadeOut 1000ms ease-in;
    opacity: 0;
    z-index: -1;
  }
  .loader {
    color: #000000;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: loader 1.7s infinite ease, round 1.7s infinite ease;
    animation: loader 1.7s infinite ease, round 1.7s infinite ease;
  }
}
main {
  position: relative;
  min-height: Calc(100vh - 235px);
  section {
    &.grid-view {
      padding-top: 20px;
      display: block;
      .section-title {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0;
        font-weight: 500;
        display: block;
      } 
      .folder-items,
      .file-items {
        display: flex;
        flex-wrap: wrap;
        article {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 0 1 340px;
          margin: 0 10px;
          margin-bottom: 20px;
          background-color: #fff;
          border: 1px solid #dadce0;
          border-radius: 6px;
          max-width: 340px;
          cursor: pointer;
          -webkit-transition: all 300ms;
          transition: all 300ms;
          figure {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;
            margin: 0;
            a {
              color: black;
              text-decoration: none;
            }
            .image-container {
              display: flex;
              justify-content: center;
              margin: auto;
              img {
                &.image {
                  width: 100%;
                }
                &.non-image {
                  width: auto;
                  height: 64px;
                }
              }
            }
            figcaption {
              padding: 10px 12px;
              border-bottom-left-radius: 6px;
              border-bottom-right-radius: 6px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              -moz-transition: all 300ms;
              -webkit-transition: all 300ms;
              transition: all 300ms;
              .file-info {
                margin: 0;
                padding: 0;
                padding-right: 10px;
                display: inline-flex;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                .file-type {
                  display: inline-flex;
                  align-items: center;
                  img {
                    width: 16px;
                  }
                }
                .file-name {
                  margin: 0 10px;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                }
              }
              .file-size {
                background-color: #07a690;
                color: #ffffff;
                padding: 6px;
                border-radius: 6px;
              }
            }
            &.image-figure {
              height: 345px;
            }
            &.text-figure {
              display: block;
              iframe {
                height: 100%;
                width: 100%;
                html {
                  overflow: hidden;
                }
              }
            }
            &.stream-figure {
              flex-grow: 0;
              figcaption {
                border-radius: 6px;
                svg {
                  height: 24px;
                  width: 24px;
                  fill: #5f6368;
                }
              }
            }
          }
          &:hover {
            border: 1px solid #008cff;
            figure {
              figcaption {
                background-color: #e8f0fe;
                .file-name {
                  color: #1967d2;
                }
                .file-path {
                  color: #1967d2;
                }
              }
            }
          }
        }
      }
    }
    &.table-view {
      display: none;
      table {
        width: 100%;
        border-collapse: collapse;
        
        tr {
          th,
          td {
            text-align: left;
            padding: 10px;
            border-bottom: 1px solid #dadce0;
          }
        }
        tbody {
          tr {
            -moz-transition: all 300ms;
            -webkit-transition: all 300ms;
            transition: all 300ms;
            td {
              img {
                width: 16px;
                padding-right: 10px;
              }
              svg {
                width: 16px;
                padding-right: 10px;
                fill: #5f6368;
              }
            }
            &.folder-row {
              cursor: pointer;
            }
            &:hover {
              background-color: #e8f0fe;
              color: #1967d2;
            }
          }
        }
      }
    }
  }
}
@-webkit-keyframes loader {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes loader {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
    z-index: 1;
  }

  100% {
    display: none;
    opacity: 0;
    z-index: -1;
  }
}
@-moz-keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
    z-index: 1;
  }

  100% {
    display: none;
    opacity: 0;
    z-index: -1;
  }
}
@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
    z-index: 1;
  }

  100% {
    display: none;
    opacity: 0;
    z-index: -1;
  }
}

@media screen and (max-width: 600px) {
  main {
    section {
      &.grid-view {
        display: none;
      }
      &.table-view {
        display: block;
      }
    }
  }
}