.header {
    display: flex;
    padding: 15px 20px 20px 20px;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 0px 10px 1px #d6d6d6;
    box-shadow: 0px 0px 10px 1px #d6d6d6;
    a {
      text-decoration: none;
      color: #000000;
      nav {
        display: flex;
        align-items: center;
        cursor: pointer;
        svg {
          width: 222px;
          height: 59px;
          visibility: inherit;
          opacity: 1;
          transform: matrix(1, 0, 0, 1, 0, 0);
        }
        h1 {
          margin: 5px;
          padding-left: 20px;
          margin-left: 20px;
          border-left: 3px solid #000000;
          font-weight: 300;
        }
      }
    }
  }